apiVersion: apps/v1
kind: Deployment
metadata:
  name: order-deploy
spec:
  replicas: 1
  selector:
    matchLabels:
      app: order
  template:
    metadata:
      labels:
        app: order
    spec:
      containers:
        - name: order
          image: badrcherhoune/order-service:latest
          ports:
            - containerPort: 8082
          env:
            - name: CLIENT_API_URL
              value: "http://client-service:8081/clients"
            - name: PRODUCT_API_URL
              value: "http://product-service:8080/products"
          readinessProbe:
            httpGet:
              path: /actuator/health
              port: 8082
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /actuator/health
              port: 8082
            initialDelaySeconds: 10
            periodSeconds: 15